*{
    margin: 0;
    padding: 0;
}
.cont{
   
}
.head{
    background: black;
}
.head a {margin: 0;}
.head a img{
    
height: 80px;
}
.head ul{

}
.head ul li{
}
.head ul li a{
}
.head ul li button{
    background: #ff9800;
    padding:  5px 18px;
    border: none;
    border-radius: 2px;
    margin-right: 30px;
    margin-top: 3px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    transition: .4s all ease-in-out;
}
.head ul li button:hover{
    background-color: rgb(255 255 255);
    color: #ff9800;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #f5eded;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
}
.iconn{
    
color: #fff;
    
font-size: 25px;
}
.animation{

background: black;
}
.ball{
    height: 84vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.ball ul{display: flex;padding: 0;border-bottom: 1px solid white;}
.ball ul li{

width: 50px;

height: 50px;

background: black;

list-style: none;

margin: 0 15px;

border-radius: 50%;

animation: bouncy 1s linear infinite;
}
@keyframes bouncy{
    0%{
transform: translateY(0);

    }
    50%{
        transform: translateY(-100px);
       
    }
    100%{
        transform: translateY(0);
       
    }
}
.ball li:nth-child(1){
    animation-delay: 0.3s;
    background-color: chartreuse;
    
    
}
.ball li:nth-child(2){
    animation-delay: .6s;
    background-color: cyan;

}
.ball li:nth-child(3){
    animation-delay: .8s;
    background-color: darkorange;
}

.cart{

width: 35%;
}
.cart ul{

list-style: none;

display: flex;

justify-content: space-around;

align-items: center;

margin: 0;

margin-left: 50px;
}
.cart ul li{

color: #fff;

font-size: 19px;

transition: .4s all ease-in-out;
}
.cart ul li i{
    
}
.cart ul li:hover{
    color: darkorange;
}


.second{
   background-image: url(../images/male.jpg);
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
}

.welcome{

}
.welcome h1{

margin-top: 59px;

color: #ffffff;

font-size: 69px;

font-weight: 700;

text-transform: uppercase;

margin-right: 50px;
}
.welcome h1 span{
    
color: green;
}
.welcome h3{

text-transform: capitalize;

color: #ffc107;

font-size: 25px;

margin-right: 50px;
}
.shop{

margin-right: 50px;
}
.shop button{
    
border: 0;
    
padding: 5px 15px;
    
border-radius: 3px;
    
background: #ff8c00;
    
margin-right: 10px;
    
margin-left: 10px;
    
margin-top: 25px;
border: 1px solid #ff8c00;
transition: .5s all ease-in-out;
box-shadow: #fff;
}
.shop button {text-transform: uppercase;font-size: 18px;font-weight: 700;color: black;padding: 11px 25px;}

.shop button:nth-child(2){
    
padding: 11px;
}
.shop button:hover{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(253, 253, 253);
    color: #fff;
    
    
    
}
.nav-link:focus, .nav-link:hover {
    color: #fcfdff;
} 


.story{background: #ddddddbf;}
.scontent{margin: 20px;}
.scontent h1{

font-size: 18px;

text-transform: capitalize;

color: #008000;
}
.scontent p{
    
font-size: 13px;
    
text-transform: capitalize;
    
color: #322413;
}

.men{

background: #ffcb0017;
}
.fornav{

margin-top: 30px;

margin-bottom: 30px;
}
.fornav a{

}
.fornav .navbar-light{

background: black;

border-radius: 50px;
}
.fornav .navbar-nav{

}
.navbar-light .navbar-brand {
    color: rgb(253 253 253);
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(255 140 0);
    transform: translateY(-3px);
}

.jacket{
    border: 1px solid;
    position: relative;
    transition: .4s all ease-in-out;
}
.jacket img{
}
  .jacket ::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(255,103,15,0) 0%, rgba(255,103,15,0.7) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,103,15,0) 0%,rgba(255,103,15,0.7) 100%);
    background: linear-gradient(to bottom,  rgba(255,103,15,0) 0%,rgba(255,103,15,0.7) 100%);
    transition: .5s all ease-in-out;
}
.jacket:hover ::before {

    height: 0;
}  

.jacket h5{

color: #000000;

text-align: center;

text-transform: capitalize;

font-size: 18px;

margin-top: 10px;
}
.jacket p{text-align: center;text-transform: capitalize;font-size: 14px;color: #008000bd;}

.jacket p span{
    
display: block;
    
font-size: 21px;
    
color: green;
}

.shopnow{

margin-top: 30px;

text-align: center;
}
.shopnow i{
    
color: darkorange;
    
background: black;
    
padding: 7px 30px;
    
font-size: 21px;
    
transition: .3s all ease-in-out;
    
border-radius: 5px;
}

i.fas.fa-cart-plus {}
.shopnow i:hover{
    background-color:darkorange ;
    color:black ;
}


.cover{background-image: url(../images/j5.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;min-height: 96vh;}
.c-content{

margin-top: 99px;
}
.c-content h1{

text-transform: uppercase;

font-size: 70px;

color: #d9ff08;
}
.c-content h2{

text-transform: uppercase;

color: beige;
}
.c-content h2 span{

color: red;

font-weight: 600;
}
.c-content h4{

text-transform: capitalize;

font-size: 41px;

color: #e2e2ec;
}

.shopbutn{

text-align: center;

margin-top: 45%;

margin-left: 20%;
}
.shopbutn button{
    
border: none;
    
text-transform: uppercase;
    
font-size: 19px;
    
padding: 10px 40px;
    
color: #fff;
    
font-weight: 500;
    
background: yellowgreen;
    
transition: .4s all ease-in-out;
}

.shopbutn button:hover{
    background-color: rgb(0, 0, 0);
    color: yellowgreen;
}


.women{

background-color: #ffcb0017;
}
.womnav{
    margin-top: 30px;

margin-bottom: 30px;
}
.womnav{

border-radius: 50px;

background-color: #f00780;
}


.womnav .navbar-light .navbar-brand {
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    transition: .4s all ease-in-out;
}
.womnav .navbar-light .navbar-brand:hover{
    color: #fff;
    transform: translateY(-3px);
}

.topsfe{
    border: 1px solid;
    position: relative;
    transition: .4s all ease-in-out;
}
.topsfe img{
}
  .topsfe ::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5db1+0,ff5db1+81,ff5db1+81,ef017c+100&0+1,0.9+100 */
    background: -moz-linear-gradient(top,  rgba(255,93,177,0) 0%, rgba(255,93,177,0) 1%, rgba(255,93,177,0.73) 81%, rgba(239,1,124,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,93,177,0) 0%,rgba(255,93,177,0) 1%,rgba(255,93,177,0.73) 81%,rgba(239,1,124,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,93,177,0) 0%,rgba(255,93,177,0) 1%,rgba(255,93,177,0.73) 81%,rgba(239,1,124,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff5db1', endColorstr='#e6ef017c',GradientType=0 ); /* IE6-9 */

    transition: .5s all ease-in-out;
}
.topsfe:hover ::before {

    height: 0;
}  

.topsfe h5{

color: #000000;

text-align: center;

text-transform: capitalize;

font-size: 18px;

margin-top: 10px;
}
.topsfe p{text-align: center;text-transform: capitalize;font-size: 14px;color: #008000bd;}

.topsfe p span{
    
display: block;
    
font-size: 21px;
    
color: green;
}

.club{

background: yellow;

margin-bottom: 50px;
}
.clcontent h1{

text-transform: uppercase;

font-size: 45px;

color: black;
}
.clcontent{
    
text-align: end;
}
.clcontent h1 span{
    
color: red;
    
font-size: 50px;
}
.clubbutton{

text-align: center;

margin-top: 22px;
}
.clubbutton button{
    
border: none;
    
padding: 15px 45px;
    
text-transform: uppercase;
    
font-weight: 500;
    
color: #fffcfc;
    
background: black;
    
font-size: 22px;
transition: .4s all ease-in-out;
}

.clubbutton button:hover{
    color:darkorange ;
}

.information{

padding-bottom: 35px;
}
.infocontent{

margin: 35px 0;
}
.infocontent h3{

text-transform: uppercase;

font-size: 16px;

color: black;
}
.infocontent ul{

list-style: none;

padding: 0;
}
.infocontent ul li{
    
font-size: 14px;
    
text-transform: capitalize;
    
color: #000000;
}




.iconpart{

background: #202124;
}
.rights{

display: flex;

justify-content: space-between;
}
.rights h4{
    
color: #83a7a5;
    
text-transform: capitalize;
    
font-size: 12px;
    
margin-top: 18px;
}
.rights ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-around;
    
/* width: 30%; */
    
margin-top: 11px;
}
.rights ul li{
    
height: 35px;
    
width: 35px;
    
background: #ff8c00;
    
text-align: center;
    
color: #000;
    
border-radius: 25px;
    
margin-left: 20px;
transition: .3s all ease-in-out;
}
.rights ul li i{margin-top: 10px;}
.rights ul li:nth-child(1){
    background-color: #55acee;
    transition: .3s all ease-in-out;
}

.rights ul li:nth-child(1):hover{
    background-color: #fff;
    color:#55acee ;
}
.rights ul li:nth-child(2){

background: #3b5998;

color: #fff;
transition: .3s all ease-in-out;
}

.rights ul li:nth-child(2):hover{
background-color: #fff;
color:#3b5998 ;
    
}
.rights ul li:nth-child(3){

background: #3f729b;

color: #fff;
transition: .3s all ease-in-out;
}

.rights ul li:nth-child(3):hover{
    background:rgb(231, 109, 9) ;
    color:#3f729b;
}
.rights ul li:nth-child(4){
    
background: #ea4c89;
    
color: #fff;
transition: .3s all ease-in-out;
}
.rights ul li:nth-child(4):hover{
    background: #fff;
    
color: #ea4c89;
}
.rights ul li:nth-child(5):hover{
    background: #fff;
    color: rgb(231, 109, 9);
}